{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>

    <form method="post">
      <div class="form-group">
          <label for="title">Edit Name</label>
          <input type="text" name="title" placeholder="Post name" class="form-control"
           value="{{ request.form['title']  or post['title'] }}">
      </div>

      <div>
          <label for="image">Edit Image</label>
        <div class="form-group">
           <input type="image" name="title" placeholder="Add image here" class="form-control img-fluid"
           value="{{ request.form['image'] }}">
        </div>
      </div>

      <div>
        <div class="form-control">
          <label for="price">Edit Price</label>
          <input type="text" name="price" placeholder="Kes " class="form-control"
          value="{{ request.form['price'] }}">
        </div>
      </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <hr>

    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Delete Post" class="btn btn-danger btn-sm"
        onclick="return confirm('Are you sure?')">
    </form>
{% endblock %}